{{extend 'layout.html'}}
<div align="center">
<button  onclick="document.location='{{=URL(r=request,f='project_page',args=project.id)}}';">
<h1>{{=project.project_name}}
</h1>
</button>
<br/>
<br/>
<h3>Project Admin:</h3>
{{user=db(db.auth_user.email==project.projectadmin_email).select().first()}}
<button  onclick="document.location='{{=URL(r=request,f='allprofile',args=user.id)}}';">
{{=project.projectadmin_email}}
</button>
<br/>
<style type="text/css">
h3,h2 { display: inline; }
</style>
<h3>Description: </h3>
{{=project.description}}
</div>
</br>
{{if len(row)!=0:}}
Which Collaborator do you want to Delete??

{{for some in row:}}
{{=LI(A(some.other_email, _href=URL("confirm_delcollo",args=some.id)))}}
{{pass}}
{{else:}}
<blink><h2>Sorry, you have no collaborators!</h2></blink>
<br/>
<button  onclick="document.location='{{=URL(r=request,f='addcollo',args=project.id)}}';">Add Collaborators</button>
{{pass}}

