{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
{{if 'message' in globals():}}
<h1>{{=message}}</h1>
<!--<ol>
</ol>-->
{{pass}}
<h1>Search - Download - Upload</h1>
</br>
</br>
</br>
</br>
<!--{{count=1}}
<h2><b>Top 10 Downloaded</b></h2>
<ul>
{{for some in form:}}
{{some.project_name=some.project_name.upper()}}

{{count=count+1}}
<li>
{{=A(some.project_name, _href=URL("project_page",args=some.id))}} ({{=some.num_downloads}} Downloads)
</li>
{{if count > 10:}}
{{break}}
{{pass}}
{{pass}}
</ul>
</br>
</br>
{{count=1}}
<h2><b>Most Recent</b></h2>
<ul>
{{for some in form1:}}
{{some.project_name=some.project_name.upper()}}

{{count=count+1}}
<li>
{{=A(some.project_name, _href=URL("project_page",args=some.id))}} [ {{=some.date_added}} ]
</li>
{{if count > 10:}}
{{break}}
{{pass}}
{{pass}}
</ul>

{{a=[]}}
<h2><b>Categories</b></h2>
<ul>
{{for some in form:}}
{{a.append(some.category)}}
{{pass}}
{{a=list(set(a))}}
{{for some in a:}}
<h3>
{{=LI(A(some, _href=URL("listofprojects",args=some)))}}
</h3>
{{pass}}
-->
